/* Bagnard, Reglo, YoungSerif*/
@font-face {
	font-family: 'Bagnard';
	src: url('webfonts/Bagnard.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'youngserifregular';
	src: url('webfonts/YoungSerif-Regular.eot');
}
@font-face {
	font-family: 'youngserifregular';
	src: url(webfonts/YoungSerif-Regular.woff) format('woff'),
	url('webfonts/YoungSerif-Regular.ttf') format('truetype'),
	url('webfonts/YoungSerif-Regular.svg#youngserifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body {
	font-family: "Bagnard";
	color: red;
	background-color: white;
}
	body.reverse {
		color: white;
		background-color: black;	
	}
#desktop {
	display: block;
}
	#desktop h1 {
		font-family: "Bungee Shade", sans-serif;
		font-weight: normal;
		font-size: 15vw;
		text-align: left;
		margin: -16px 3vw 0px;
		cursor: pointer;
	}

	#desktop p.intro-top {
		font-family: "Work Sans";
		font-size: 48px;
		line-height: 1.4em;
		text-align: left;
		margin: 0px 44px;
		transform: rotate(-4deg);
	}
	#desktop p.intro-bottom {
		position: absolute;
		bottom: 40px;
		right: 16px;
		font-family: "Work Sans";
		font-size: 48px;
		line-height: 1.4em;
		text-align: left;
		margin: 0px 44px;
		transform: rotate(5deg);
	}
		#desktop p.intro-top span, #desktop p.intro-bottom a {
			display: inline-block;
			color: lime;
		}
		#desktop p.intro-top span:hover, #desktop p.intro-bottom a:hover {
			-webkit-animation: YO 3s infinite;
			animation: YO 3s infinite;
		}
@keyframes YO {
	0%   {transform: rotate(0deg)}
	30%  {transform: rotate(-12deg)}
	100% {transform: rotate(360deg)}
}
@-webkit-keyframes YO {
	0%   {transform: rotate(0deg)}
	30%  {transform: rotate(-12deg)}
	100% {transform: rotate(360deg)}
}


#mobile {
	display: none;
}
	#mobile h2 {
		font-family: "Work Sans";
		font-size: 12.5vw;
		line-height: 25vh;
		text-align: center;
		margin: 10vh auto;
		cursor: pointer;
	}

@media (max-width: 960px) { 
	#desktop {
		display: none;
	}
	#mobile {
		display: block;
	}

}
